
.container{
    background-color: #080821;
    padding: 5vh 0;
}
.innerContainer {
    width: 80%;
    margin: 0 auto;
    
    /* box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75); */
    padding: 30px 70px;
    
    /* margin-top: 30px; */
    background: #181C44;
    border: 1px solid rgba(244, 99, 0, 0.75);
    box-shadow: 0px 7.66492px 7.66492px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.innerContainer>h1{
    color: #ffffff;

}
.innerContainer>p{
    color: #ffffff;
    margin-top: 30px;
    line-height: 1.6;
}
.chekbox{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 30px 0;
}

.chekbox>span{
    margin-left: 10px;
}
.btnContainer>button{
    padding: 8px 25px;
    color: #F46300;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #F46300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}
.btnContainer>button:nth-child(2){
    margin-left: 20px;
    
}
.btnContainer>button:hover{
   background: #F46300;

   color: #fff;
}
